{% extends "base.html" %} {% block title %}일일백업결과{% endblock %} {% block content %}

<style>
    th,
    td {
        text-align: center;
    }
    
    #lf {
        text-align: left;
    }
</style>

<h1>TSM 일일 백업 결과</h1>
<br>

<div id="wrapper">
    <div id="content-wrapper">
        <div class="container-fluid">

            <!-- DataTables Example -->
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-table"></i><strong> {{logs.1.backup_dt|date:'Y-m-d(D)'}}</strong></div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            {{logs.1}}
                            <thead>
                                <tr>
                                    <th>번호</th>
                                    <th>백업일자</th>
                                    <th>스케줄</th>
                                    <th>스케줄명</th>
                                    <th>도메인명</th>
                                    <th>노드명</th>
                                    <th>시작시간</th>
                                    <th>완료시간</th>
                                    <th>소요</th>
                                    <th>백업결과</th>
                                    <th>RC</th>
                                    <th>조치</th>
                                    <th>비고</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for Log in logs %}
                                <tr>
                                    <td>{{forloop.counter}}</td>
                                    <td>{{Log.backup_dt|date:'Y-m-d(D)'}}</td>
                                    <td>{{Log.schedule_tm}}</td>
                                    <td id="lf">{{Log.schedule_nm}}</td>
                                    <td>{{Log.domain_nm}}</td>
                                    <td id="lf">{{Log.nodename}}</td>
                                    <td>{{Log.start_tm}}</td>
                                    <td>{{Log.end_tm}}</td>
                                    <td>{{Log.taken}}</td>
                                    <td>{{Log.status}}</td>
                                    <td id="lf">{{Log.returncode}}</td>
                                    <td id="lf">{{Log.action}}</td>
                                    <td>{{Log.note}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <!--<div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>-->
            </div>
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /.content-wrapper -->
</div>
<!-- /#wrapper -->

{% endblock %}