{% extends "base.html" %} {% block title %}Polls Detail{% endblock %} {% block content %} {% if latest_question_list %}

<h1>{{ question.question_text }}</h1>

{% if error_message %}
<p><strong>{{ error_message }}</strong></p>
{% endif %}

<form action={% url 'polls:vote' questionid %} " method="post ">
    {% csrf_token %}
    {% for choice in question.choice_set.all %}
        <input type="radio " name="choice " id="choice{{ forloop.counter }} " value="{{choice.id}} " />
        <label for="coice{{ forloop.counter }} ">{{ coice.coice_text }}</label><br />
    {% endfor %}
    <input type="submit " value="Vote " /> </form>

    {% endblock %}