{% extends "base.html" %} {% block title %} 일일 소산 {% endblock %} {% block content %}

<style>
    th {
        text-align: center;
        background-color: rgb(146, 215, 247);
    }
    
    td {
        text-align: center;
    }
    
    #bg_gr {
        background-color: rgb(133, 241, 133);
    }
    
    #lf {
        text-align: left;
    }
</style>

{% load static %}

<h2>일일 소산</h2>

<div id="wrapper">
    <div id="content-wrapper">
        <div class="container-fluid">
            <!-- DataTables Example -->
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-table"></i
          ><strong> {{today.1.due_dt|date:'Y-m-d(D)'}} - Check-in</strong>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table
              class="table table-bordered"
              id="dataTable"
              width="100%"
              cellspacing="0"
            >
              <thead>
                <tr>
                  <th>번호</th>
                  <th>소산일자</th>
                  <th>테입명</th>
                  <th>풀명</th>
                  <th>만료일자</th>
                  <th>입고일자</th>
                  <th>출고확인</th>
                  <th>출고일자</th>
                </tr>
              </thead>
              <tbody>
                {% for Keep in checkin %}
                <tr>
                  <td>{{forloop.counter}}</td>
                  <td>{{Keep.check_dt|date:'Y-m-d(D)'}}</td>
                  {% if Keep.pool_nm == "SRCPOOL" %}
                  <td id="bg_gr">{{Keep.volume_nm}}</td>
                  <td id="bg_gr">{{Keep.pool_nm}}</td>
                  {% else %}
                  <td>{{Keep.volume_nm}}</td>
                  <td>{{Keep.pool_nm}}</td>
                  {% endif %}
                  <td>{{Keep.due_dt|date:'Y-m-d(D)'}}</td>
                  <td>{{Keep.safein_dt|date:'Y-m-d(D)'}}</td>
                  {% if Keep.safeout_chk == "x" %}
                  <td>대기</td>
                  {% elif Keep.safeout_chk == "o" %}
                  <td>출고확인</td>
                  {% else %}
                  <td>값오류</td>
                  {% endif %}
                  <td>{{Keep.safeout_dt|date:'Y-m-d(D)'}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        <!--<div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>-->
      </div>
    </div>
  </div>
  <div id="content-wrapper">
    <div class="container-fluid">
      <!-- DataTables Example -->
      <div class="card mb-3">
        <div class="card-header">
          <i class="fas fa-table"></i
          ><strong> {{checkout.1.check_dt|date:'Y-m-d(D)'}} - Check-out</strong>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table
              class="table table-bordered"
              id="dataTable"
              width="100%"
              cellspacing="0"
            >
              <thead>
                <tr>
                  <th>번호</th>
                  <th>소산일자</th>
                  <th>테입명</th>
                  <th>풀명</th>
                  <th>만료일자</th>
                  <th>입고확인</th>
                  <th>입고일자</th>
                </tr>
              </thead>
              <tbody>
                {% for Keep in checkout %}
                <tr>
                  <td>{{forloop.counter}}</td>
                  <td>{{Keep.check_dt|date:'Y-m-d(D)'}}</td>
                  {% if Keep.pool_nm == "SRCPOOL" %}
                  <td id="bg_gr">{{Keep.volume_nm}}</td>
                  <td id="bg_gr">{{Keep.pool_nm}}</td>
                  {% else %}
                  <td>{{Keep.volume_nm}}</td>
                  <td>{{Keep.pool_nm}}</td>
                  {% endif %}
                  <td>{{Keep.due_dt|date:'Y-m-d(D)'}}</td>
                  {% if Keep.safein_chk == "x" %}
                  <td>대기</td>
                  {% elif Keep.safein_chk == "o" %}
                  <td>입고확인</td>
                  {% else %}
                  <td>값오류</td>
                  {% endif %}
                  <td>{{Keep.safein_dt|date:'Y-m-d(D)'}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        <!--<div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>-->
      </div>
    </div>
  </div>
</div>
<div id="wrapper">
  <div id="content-wrapper">
    <div class="container-fluid">
      <!-- DataTables Example -->
      <div class="card mb-3">
        <div class="card-header">
          <i class="fas fa-table"></i><strong> SRCPOOL list</strong>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>번호</th>
                                    <th>소산일자</th>
                                    <th>테입명</th>
                                    <th>풀명</th>
                                    <th>보관주기</th>
                                    <th>만료일자</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for Keep in srcpool %}
                                <tr>
                                    <td>{{forloop.counter}}</td>
                                    <td>{{Keep.check_dt|date:'Y-m-d(D)'}}</td>
                                    <td>{{Keep.volume_nm}}</td>
                                    <td>{{Keep.pool_nm}}</td>
                                    <td>{{Keep.cycle}}</td>
                                    <td>{{Keep.due_dt|date:'Y-m-d(D)'}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <!--<div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>-->
            </div>
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /.content-wrapper -->
</div>
<!-- /#wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Bootstrap core JavaScript-->
<script src='{% static "vendor/jquery/jquery.min.js" %}'></script>
<script src='{% static "vendor/bootstrap/js/bootstrap.bundle.min.js" %}'></script>

<!-- Core plugin JavaScript-->
<script src='{% static "vendor/jquery-easing/jquery.easing.min.js" %}'></script>

<!-- Page level plugin JavaScript-->
<script src='{% static "vendor/chart.js/Chart.min.js" %}'></script>
<script src='{% static "vendor/datatables/jquery.dataTables.js" %}'></script>
<script src='{% static "vendor/datatables/dataTables.bootstrap4.js" %}'></script>

<!-- Custom scripts for all pages-->
<script src='{% static "js/sb-admin.min.js" %}'></script>

<!-- Demo scripts for this page-
<script src='{% static "js/demo/datatables-demo.js" %}'></script>
<script src='{% static "js/demo/chart-area-demo.js" %}'></script>
-->

{% endblock %}